@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply bg-primary-dark;
	}
	body {
		@apply h-full;
	}
	h1 {
		@apply text-2xl font-bold;
	}
	h2 {
		@apply text-xl font-bold text-primary-light text-center;
	}
	h3 {
		@apply text-sm text-primary-light;
	}
	li {
		@apply text-base font-bold pl-2 text-primary-light;
	}
	ul {
		@apply list-none pl-2 list-inside gap-2;
	}
	a {
		@apply text-primary-light underline;
	}
	p {
		@apply text-xs text-primary-light;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(4px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
.animate-fadeIn {
	animation: fadeIn 0.3s ease-out forwards;
}

@layer components {
	#root {
		@apply bg-primary-dark  min-h-screen h-full;
	}

	.navbar-button {
		@apply text-primary-dark bg-primary-light p-1 font-bold w-1/6 hover:bg-primary-dark hover:text-primary-light;
	}
	.title {
		@apply text-2xl font-bold text-center text-accent;
	}
	.btn {
		@apply cursor-pointer inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-primary-dark bg-primary-light hover:bg-primary focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-dark;
	}
	.btn-disabled {
		@apply inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium bg-primary-light text-red-700;
	}
	.box-content {
		@apply bg-primary-dark p-4 mb-4 w-full;
	}
	.name {
		@apply text-primary-light text-base font-semibold;
	}

	.description {
		@apply text-primary-light ml-2 text-sm font-normal;
	}
	.tooltip-container {
		@apply flex flex-col;
	}
	.list-title {
		@apply text-primary-light text-base font-semibold;
	}
	.list-name {
		@apply text-primary text-sm font-semibold;
	}
	.list-description {
		@apply text-primary-light text-sm font-bold pl-2;
	}
	.list-category {
		@apply border border-primary rounded-sm p-2;
	}
}

@layer utilities {
	.bg-custom {
		@apply bg-gradient-to-r from-blue-500 to-green-500;
	}
}
